WcfServiceApp/Connected Services/MyServiceLibrary/PersonsBase.data.Abonements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PersonsBase.data.Abonements" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PersonsBase.data.Abonements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PersonsBase.data" />
  <xs:complexType name="AbonementBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbonementName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyActivationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DaysLeft" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Freeze" nillable="true" type="tns:FreezeClass" />
      <xs:element minOccurs="0" name="InfoMessageEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumAerobicTr" type="xs:int" />
      <xs:element minOccurs="0" name="NumMiniGroup" type="xs:int" />
      <xs:element minOccurs="0" name="NumPersonalTr" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PersonsBase.data" minOccurs="0" name="PayStatus" type="q1:Pay" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PersonsBase.data" minOccurs="0" name="Spa" type="q2:SpaService" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PersonsBase.data" minOccurs="0" name="TimeTraining" type="q3:TimeForTr" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PersonsBase.data" minOccurs="0" name="TypeWorkout" type="q4:TypeWorkout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbonementBasic" nillable="true" type="tns:AbonementBasic" />
  <xs:complexType name="FreezeClass">
    <xs:sequence>
      <xs:element name="AllFreezes" nillable="true" type="tns:ArrayOfFreezePeriod" />
      <xs:element name="_maxDaysAvailable" type="xs:int" />
      <xs:element name="_totalDaysFreezed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreezeClass" nillable="true" type="tns:FreezeClass" />
  <xs:complexType name="ArrayOfFreezePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreezePeriod" nillable="true" type="tns:FreezePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFreezePeriod" nillable="true" type="tns:ArrayOfFreezePeriod" />
  <xs:complexType name="FreezePeriod">
    <xs:sequence>
      <xs:element name="_startDate" type="xs:dateTime" />
      <xs:element name="_x003C_DaysToFreeze_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreezePeriod" nillable="true" type="tns:FreezePeriod" />
</xs:schema>