WcfServiceApp/Connected Services/MyServiceLibrary/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConnectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyServiceLibrary" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PersonsBase.data.Abonements" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PersonsBase.data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnectService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IConnectService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IConnectService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectService_GetAbonement_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAbonement" />
  </wsdl:message>
  <wsdl:message name="IConnectService_GetAbonement_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAbonementResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectService_SetAbonement_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAbonement" />
  </wsdl:message>
  <wsdl:message name="IConnectService_SetAbonement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAbonementResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectService_GetText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetText" />
  </wsdl:message>
  <wsdl:message name="IConnectService_GetText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectService_SetText_InputMessage">
    <wsdl:part name="parameters" element="tns:SetText" />
  </wsdl:message>
  <wsdl:message name="IConnectService_SetText_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTextResponse" />
  </wsdl:message>
  <wsdl:portType name="IConnectService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectService/GetData" message="tns:IConnectService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectService/GetDataResponse" message="tns:IConnectService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectService/GetDataUsingDataContract" message="tns:IConnectService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectService/GetDataUsingDataContractResponse" message="tns:IConnectService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAbonement">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectService/GetAbonement" message="tns:IConnectService_GetAbonement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectService/GetAbonementResponse" message="tns:IConnectService_GetAbonement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAbonement">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectService/SetAbonement" message="tns:IConnectService_SetAbonement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectService/SetAbonementResponse" message="tns:IConnectService_SetAbonement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetText">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectService/GetText" message="tns:IConnectService_GetText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectService/GetTextResponse" message="tns:IConnectService_GetText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetText">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectService/SetText" message="tns:IConnectService_SetText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectService/SetTextResponse" message="tns:IConnectService_SetText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnectService" type="tns:IConnectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IConnectService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IConnectService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbonement">
      <soap:operation soapAction="http://tempuri.org/IConnectService/GetAbonement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAbonement">
      <soap:operation soapAction="http://tempuri.org/IConnectService/SetAbonement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetText">
      <soap:operation soapAction="http://tempuri.org/IConnectService/GetText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetText">
      <soap:operation soapAction="http://tempuri.org/IConnectService/SetText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectService">
    <wsdl:port name="BasicHttpBinding_IConnectService" binding="tns:BasicHttpBinding_IConnectService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyServiceLibrary/ConnectService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>